.inputTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 8px;

  position: absolute;
  width: 736px;
  height: 54px;
  left: calc(50% - 736px/2);
  top: 173px;
}

.icon {
  width: 16px;
  height: 16px;

  margin-left: 0.5rem;




  flex: none;
  order: 1;
  flex-grow: 0;
}

.inputTask input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;

  width: 638px;
  height: 54px;



  background: var(--gray-500);
  color: var(--white);


  border: 1px solid var(--gray-700);
  border-radius: 8px;



  flex: none;
  order: 0;
  flex-grow: 1;

}

.inputTask input:focus {
  border-color: var(--purple-500);
}


.inputTask button {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 52px;
  padding: 1rem;
  background: var(--blue-400);
  color: white;
  border-radius: 8px;
  font-style: 'Inter';
  flex-shrink: 0;
  cursor: pointer
}

.inputTask button:hover{
  background-color: var(--blue-200);
}

.taskCount {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-left: 22rem;
  margin-right: 22rem;
  font-size: 0.875rem;
  color: var(--gray-400);
}

.taskCount span:first-child {
  color: var(--blue-200);
}

.taskCount span:last-child {
  color: var(--purple-300);
}

.taskCount {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-left: 22rem;
  margin-right: 22rem;
  font-size: 0.875rem;
  color: var(--gray-400);
}

.taskCount span:first-child {
  color: var(--blue-200)
}

.taskCount span:last-child {
  color: var(--purple-300)
}

.counter {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  color: white;
  font-weight: bold;
  line-height: 19px; /* mesma altura do seletor .counter:before */
}

.counter:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -15px; /* ajuste horizontal para centralizar */
  transform: translateY(-50%);
  width: 25px;
  height: 19px;
  background: #333333;
  border-radius: 999px;
  z-index: -1;
}